<rdbErgebnisdienst> 
    <credentials benutzername="" enryptedPasswort="" />
    <api host="http://test.rdb.ringen-nrw.de">
        <!-- Bei Joomla "view" parameter mit "com_rdb" oder so ähnlich -->
        <jsonReaderService key="sv" value="json" />
        <taskCompetitionSystem key="tk" value="jr:cs" />
        <taskOrganisationsmanager key="tk" value="jr:om" />
    </api>
</rdbErgebnisdienst>