<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="ringen">
            <section name="rdbErgebnisdienst" type="Ringen.Schnittstelle.RDB.ConfigSections.RdbConfigSection, Ringen.Schnittstelle.RDB" requirePermission="false" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" />
            <section name="apiCache" type="Ringen.Schnittstelle.Caching.ConfigSections.ApiCacheConfigSection, Ringen.Schnittstelle.Caching" requirePermission="false" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" />
        </sectionGroup>
    </configSections>

    <ringen>
        <rdbErgebnisdienst configSource="Konfig\\RDBErgebnisdienst.config" />
        <apiCache configSource="Konfig\\ApiCache.config" />
    </ringen>
</configuration>