<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogLevel="Off" internalLogFile="c:\temp\ITSMSP_NLog-internal.log" >

    <variable name="logDirectory" value="Logs"/>

    <targets>
        <target name="jsonFileTrace" xsi:type="File" fileName="${logDirectory}/Trace_${date:format=yyyy-MM-dd}.log"
                createDirs="true"
                archiveEvery="Month" maxArchiveFiles="12" archiveFileName="${logDirectory}/!Archiv/Trace_${date:format=yyyy-MM-dd}.log">
            <layout xsi:type="JsonLayout">
                <attribute name="datum" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="message" layout="${message}" />

                <attribute name="callsite" layout="${callsite}" />
                <attribute name="threadid" layout="${threadid}"/>
                <attribute name="activityid" layout="${activityid}"/>
                <attribute name="log-guid" layout="${guid}"/>
            </layout>
        </target>

        <target name="jsonFileNormal" xsi:type="File" fileName="${logDirectory}/Log_${date:format=yyyy-MM-dd}.log" createDirs="true" archiveEvery="Month" maxArchiveFiles="12" archiveFileName="${logDirectory}/!Archiv/Log_${date:format=yyyy-MM-dd}.log">
            <layout xsi:type="JsonLayout">
                <attribute name="datum" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="message" layout="${message}" />

                <attribute name="callsite" layout="${callsite}" />
                <attribute name="threadid" layout="${threadid}"/>
                <attribute name="activityid" layout="${activityid}"/>
                <attribute name="log-guid" layout="${guid}"/>
            </layout>
        </target>

        <target name="jsonFileError" xsi:type="File" fileName="${logDirectory}/Errors_${date:format=yyyy-MM-dd}.log" createDirs="true" archiveEvery="Year" maxArchiveFiles="5" archiveFileName="${logDirectory}/!Archiv/Errors_${date:format=yyyy-MM-dd}.log">
            <layout xsi:type="JsonLayout">
                <attribute name="datum" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="message" layout="${message}" />

                <attribute name="callsite" layout="${callsite}" />
                <attribute name="threadid" layout="${threadid}"/>
                <attribute name="activityid" layout="${activityid}"/>
                <attribute name="log-guid" layout="${guid}"/>
            </layout>
        </target>

        <target name="jsonFileFatal" xsi:type="File" fileName="${logDirectory}/Fatal_${date:format=yyyy-MM-dd}.log" createDirs="true" archiveEvery="Year" maxArchiveFiles="5" archiveFileName="${logDirectory}/!Archiv/Fatal_${date:format=yyyy-MM-dd}.log">
            <layout xsi:type="JsonLayout">
                <attribute name="datum" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>

                <attribute name="exceptiondetails" encode="false"  >
                    <layout xsi:type="JsonLayout">
                        <attribute name="message" layout="${message}" />
                        <attribute name="exception" layout="${exception}" />
                    </layout>
                </attribute>
                <attribute name="callsite" layout="${callsite}" />
                <attribute name="threadid" layout="${threadid}"/>
                <attribute name="activityid" layout="${activityid}"/>
                <attribute name="log-guid" layout="${guid}"/>
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="*" levels="Trace,Info,Warn,Error,Fatal" writeTo="jsonFileTrace" enabled ="true" />
        <!-- (ohne Debug) ggf. in Produktiv ausschalten > enabled ="false"-->
        <logger name="*" levels="Debug,Trace,Info,Warn,Error,Fatal" writeTo="jsonFileTrace" enabled ="false" />
        <!-- (Log alles) In Produktiv ausschalten > enabled ="false"-->

        <logger name="*" levels="Info,Warn,Error,Fatal" writeTo="jsonFileNormal" enabled ="true" />
        <!--Standard-Logging-->
        <logger name="*" levels="Error" writeTo="jsonFileError" enabled ="true" />
        <!--Extra Logging nur für Errors-->
        <logger name="*" levels="Fatal" writeTo="jsonFileFatal" enabled ="true" />
        <!--Extra Logging nur für fatale Errors-->
    </rules>
</nlog>