<apiCache aktiv="false">
    <einzelkampf cacheTage="3" />
    <mannschaftskampf cacheTage="3" />
    <mannschaftskaempfe cacheTage="3" />
    <mannschaftskampfSchema cacheTage="90" />
    <ligaMitPlatzierung cacheTage="3" />
    <ligen cacheTage="90" />
    <saisons cacheTage="90" />
    <saison cacheTage="90" />
    <kampftage cacheTage="90" />

    <mannschaften cacheTage="30" />
    <ringer cacheTage="30" />
</apiCache>